.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #20232a;
  color: #61dafb;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #61dafb;
  color: #20232a;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #81dafb;
}
